body{
	margin:0;
	height: 100%;
}

a{
	text-decoration: none;
}



/*Codigo para el contenedor de busqueda avanzada*/
.container_busqueda_avanzada{
	font-family: 'Rajdhani', sans-serif;
	font-size: 20px;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	flex-wrap: wrap;
	text-align: center;
	margin-left: 0;
}

.container_busqueda_avanzada>div{
	flex:0 10%;
}

.container_busqueda_avanzada>div>label>input{
	border:none;
	outline:none;
	border-bottom: 2px solid;
}

.container_busqueda_avanzada>div>label>input:focus{
	border-bottom: 2px solid red;
}



h3{
	font-family: 'Rajdhani', sans-serif;
	font-size: 40px;
	text-align: center;
}

.button{
	text-align: center;
}

.button>input[type="submit"]{
	background-color: black;
    color: white;
    border: none;
    width: 100px;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.button>input[type="submit"]:hover{
	background-color: red;
    color: black;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.button>input[type="submit"]:focus{
	background-color: red;
    color: black;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

#pais{
    -webkit-appearance: none;
    width: 180px;
    height: 30px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 15px;
    border: none;
    border-bottom: 2px solid black;
    text-align: right;
    cursor: pointer;
    outline: none;
}

#pais>option{
    height: 100px;
}