body{
	margin:0;
}

a{
	text-decoration: none;
}

.fail{
    color:red;
    font-size: 20px;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
}

.fail>a{
    text-decoration: none;
    color:red;
    font-weight: bold;
}

#detalle_insercion{
    font-family: 'Rajdhani', sans-serif;
    font-size:30px;
    text-align: center;
}

/*Codigo para el formulario de registro*/

h3{
	font-family: 'Rajdhani', sans-serif;
	font-size:40px;
	text-align: center;
}

.container_registro{
	font-family: 'Rajdhani', sans-serif;
	font-size:20px;
	
	width: 100%;
	margin-bottom: 100px;
	text-align: center;
	display: inline-block;
}

.container_registro>div>label>input{
	border: none;
	outline: none;
	border-bottom: 2px solid;
}

.container_registro>div>label>input:focus{
	border-bottom: 2px solid red;
}

.container_registro>input[type="submit"]{
	font-family: 'Rajdhani', sans-serif;
	font-size:20px;
	background-color: black;
    color: white;
    border: none;
    width: 100px;
    cursor: pointer;
    margin-left: 250px;
}

.container_registro>input[type="submit"]:hover{
	background-color: red;
    color: black;
    border: none;
    width: 100px;
    cursor: pointer;
    margin-left: 250px;
    transition: 0.5s;
}

.container_registro>input[type="submit"]:focus{
    background-color: red;
    color: black;
    border: none;
    width: 100px;
    cursor: pointer;
    margin-left: 250px;
    transition: 0.5s;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: rgba(255,0,0,1);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

#pais{
    -webkit-appearance: none;
    width: 180px;
    height: 30px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 15px;
    border: none;
    border-bottom: 2px solid black;
    text-align: right;
    cursor: pointer;
    outline: none;
}

#pais>option{
    height: 100px;
}

/*Codigo para cambiar el input file.*/

.container_registro>input[type="file"]{
	font-family: 'Rajdhani', sans-serif;
	font-size:20px;
	background-color: black;
    color: white;
    display: none;
    border: none;
    outline: none;
    width: 100px;
    cursor: pointer;
    margin-left: 250px;
}


#file + label {
	width: 150px;
    font-size: 20px;
    color: white;
    background-color: black;
    display: inline-block;
}

#file:focus + label,
#file + label:hover {
	cursor:pointer;
    background-color: red;
    transition: 0.5s;
}


@media only screen and (max-width: 380px){

	.container_registro>input[type="submit"]{
		margin:0;
	}
}