body{
    margin:0;
}

a{
    text-decoration: none;
    color: black;
}

#link{
    font-family: 'Rajdhani', sans-serif;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 2px solid black;
}

#link:hover{
    color: red;
    transition: 0.5s;
}

h3{
    font-family: 'Rajdhani', sans-serif;
    font-size: 30px;
    text-align: center;
}

h2{
    font-family: 'Rajdhani', sans-serif;
    font-size: 40px;
    text-align: center;
}

/*Código para el PHP*/
.success{
    color:green;
    font-size: 30px;
}

.success b{
    text-decoration: underline;
    cursor: pointer;
}

/*Codigo para los datos de perfil*/
.datos_perfil_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.datos_perfil_container>ul{
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
}

.flex-container {
     display: flex;
     justify-content: center;
     align-items:center;
     flex-flow: row wrap;
     color:white;
     text-align: center;
     font-family: 'Rajdhani', sans-serif;
     font-size: 25px;
     width:300px;
     margin-left: 50%;
     margin-bottom: 200px;
}

.flex-container>a{
    flex:1 0 50%;
    width: 20px;
    margin: 1px;
    display: inline;
    color:white;
    background-color: black;
}

.flex-container>a:hover{
    background-color: rgba(255,0,0,1);
    transition: 0.5s;
    cursor: pointer;
}

.flex-container>a:focus{
    background-color: rgba(255,0,0,1);
    transition: 0.5s;
    cursor: pointer;
}


.datos_perfil_container>figure{
    text-align: center;
}

img{
    border: 5px solid black;
}

.album_flex>article>figure:hover img{
    transform: scale(1.1);
    transition: 0.5s;
    border: 5px solid red;
    cursor:pointer;
}

p{
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    text-align: center;
}
/*Codigo para los albumes*/

.album_flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.album_flex>article{
    width: 550px;
}

.album_flex>article>h3>a:hover{
    color: red;
    transition: 0.5s;
}

/*Mediaqueries*/

@media only screen and (max-width:620px){
    
    .flex-container{
        width: 100%;
        margin-left: 0;
        color:yellow;
    }

}



.container_registro{
	font-family: 'Rajdhani', sans-serif;
	font-size:20px;
	
	width: 100%;
	margin-bottom: 100px;
	text-align: center;
	display: inline-block;
}

.container_registro>div>label>input{
	border: none;
	outline: none;
	border-bottom: 2px solid;
}

.container_registro>div>label>input:focus{
	border-bottom: 2px solid red;
}

.container_registro>input[type="button"]{
	font-family: 'Rajdhani', sans-serif;
	font-size:20px;
	background-color: black;
    color: white;
    border: none;
    width: 100px;
    cursor: pointer;
    margin-left: 250px;
}

.container_registro>input[type="button"]:hover{
	background-color: red;
    color: black;
    border: none;
    width: 100px;
    cursor: pointer;
    margin-left: 250px;
    transition: 0.5s;
}

.container_registro>input[type="button"]:focus{
    background-color: red;
    color: black;
    border: none;
    width: 100px;
    cursor: pointer;
    margin-left: 250px;
    transition: 0.5s;
}

/*=====================================================*/
#toggle{
    margin-bottom:200px;
}
#toggle>input{
    border: none;
    outline: none;
    border-bottom: 5px solid black;
    background-color: rgba(0,0,0,0);
    color:black;
}

#toggle>input[type="button"]{
    font-family: 'Rajdhani', sans-serif;
    font-size:20px;
    background-color: black;
    color: white;
    border: none;
    width: 100px;
    cursor: pointer;
}

#toggle>input[type="button"]:hover{
    background-color: red;
    color: black;
    border: none;
    width: 100px;
    cursor: pointer;
    transition: 0.5s;
}

#toggle>input[type="button"]:focus{
    background-color: red;
    color: black;
    border: none;
    width: 100px;
    cursor: pointer;
    transition: 0.5s;
}


#toggle>input[type="submit"]{
     font-family: 'Rajdhani', sans-serif;
    font-size:20px;
    background-color: black;
    color: white;
    border: none;
    width: 100px;
    cursor: pointer;
}

#toggle>input[type="submit"]:hover{
    background-color: red;
    color: black;
    border: none;
    width: 100px;
    cursor: pointer;
    transition: 0.5s;
}

#toggle>input[type="submit"]:focus{
    background-color: red;
    color: black;
    border: none;
    width: 100px;
    cursor: pointer;
    transition: 0.5s;
}
/*===================================*/

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: rgba(255,0,0,1);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

#pais{
    -webkit-appearance: none;
    width: 180px;
    height: 30px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 15px;
    border: none;
    border-bottom: 2px solid black;
    text-align: right;
    cursor: pointer;
    outline: none;
}

#pais>option{
    height: 100px;
}

/*Codigo para cambiar el input file.*/

.container_registro>input[type="file"]{
	font-family: 'Rajdhani', sans-serif;
	font-size:20px;
	background-color: black;
    color: white;
    display: none;
    border: none;
    outline: none;
    width: 100px;
    cursor: pointer;
    margin-left: 250px;
}


#file + label {
	width: 150px;
    font-size: 20px;
    color: white;
    background-color: black;
    display: inline-block;
}

#file:focus + label,
#file + label:hover {
	cursor:pointer;
    background-color: red;
    transition: 0.5s;
}


@media only screen and (max-width: 380px){

	.container_registro>input[type="submit"]{
		margin:0;
	}
}