body{
	margin:0;
}

a{
	text-decoration: none;
}

/*Codigo para cambiar el scrollbar*/


::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}


::-webkit-scrollbar-track {
    background: #f1f1f1;
    background-clip: content-box;
}


::-webkit-scrollbar-thumb {
    background: red;
    height: 50px;
}


::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*Codigo para el header*/
header{
	background:url(../Images/Header.webp);
	width: 100%;
	height: 1000px;
	overflow: hidden;
}

header>video
{
	width: 100%;
	height: 100%;
	transform: scale(1.5);
}

header>a>h1{
	margin:0;
	padding-top: 200px;
	color:black;
	position: static;
	text-align: center;
	font-family: 'Play', sans-serif;
	font-size: 100px;
	font-weight: bold;
}


/*Codigo para el navbar*/
nav{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 40px;
	background-color: black;
	text-align: center;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1;
}

nav>a{
	color:white;
	padding: 0px 150px;
	font-family: 'Rajdhani', sans-serif;
	font-size: 30px;
}

nav>a:hover{
	background-color: rgba(255,0,0,1);
	transition: 0.5s;
	cursor: pointer;
}

/*Contact info*/
.contact_info
{
	font-family: 'Rajdhani', sans-serif;
	font-size: 30px;
	text-align: center;
}

.contact_info>a>img
{
	width: 50px;
	height: 50px;
	transition: .3s;
}

.contact_info>a>img:hover
{
	filter: grayscale(100);
	transition: .3s;
}
/*Código para el data percentage*/
.all_info
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
	margin-bottom: 100px;
}

.about_me
{
	font-family: 'Rajdhani', sans-serif;
	font-size: 20px;
	text-align: justify;
	margin-right: 10%;
	margin-left: 10%;
}

.about_me>p
{
	width: 500px;
}

.about_me>h2
{
	text-align: center;
	font-size: 40px;
	margin: 0;
}

.data_percentage
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	max-height: 100%;
	width: 510px;
	font-family: 'Rajdhani', sans-serif;
	font-size: 20px;
	font-weight: bold;
}

.data_percentage>h2
{
	margin: 0px;
	font-size: 40px;
	text-align: center;
}

.data_container
{
	display: flex;
	flex-direction: column-reverse;
	justify-content:flex-start;

}

.data_container>p
{
	margin: 0;
	margin-left: 20px;
}

@keyframes ae {
	from
	{
		width: 0px;
		opacity: 0;
	}

	to
	{
		opacity: 1;
		width: 500px;
	}
}

@keyframes cplus {
	from
	{
		width: 0px;
		opacity: 0;
	}

	to
	{
		opacity: 1;
		width: 435px;
	}
}

@keyframes blender {
	from
	{
		width: 0px;
		opacity: 0;
	}

	to
	{
		opacity: 1;
		width: 407px;
	}
}

@keyframes zbrush {
	from
	{
		width: 0px;
		opacity: 0;
	}

	to
	{
		opacity: 1;
		width: 380px;
	}
}

@keyframes photoshop {
	from
	{
		width: 0px;
		opacity: 0;
	}

	to
	{
		opacity: 1;
		width: 364px;
	}
}

@keyframes unreal_engine {
	from
	{
		width: 0px;
		opacity: 0;
	}

	to
	{
		opacity: 1;
		width: 353px;
	}
}

@keyframes html {
	from
	{
		width: 0px;
		opacity: 0;
	}

	to
	{
		opacity: 1;
		width: 326px;
	}
}

@keyframes java {
	from
	{
		width: 0px;
		opacity: 0;
	}

	to
	{
		opacity: 1;
		width: 271px;
	}
}

@keyframes sql {
	from
	{
		width: 0px;
		opacity: 0;
	}

	to
	{
		opacity: 1;
		width: 163px;
	}
}

.after_effects
{
	background-color: rgba(0, 0, 255, .5);
	border: 2px solid black;
	width: 500px;
	height: 20px;
	animation-name: ae;
	animation-duration: 1.5s;
}

.cplus
{
	background-color: rgba(0, 0, 255, .5);
	border: 2px solid black;
	width: 435px;
	height: 20px;
	animation-name: cplus;
	animation-duration: 1.5s;
}

.blender
{
	background-color: rgba(0, 0, 255, .5);
	border: 2px solid black;
	width: 407px;
	height: 20px;
	animation-name: blender;
	animation-duration: 1.5s;
}

.zbrush
{
	background-color: rgba(0, 0, 255, .5);
	border: 2px solid black;
	width: 380px;
	height: 20px;
	animation-name: zbrush;
	animation-duration: 1.5s;
}

.photoshop
{
	background-color: rgba(0, 0, 255, .5);
	border: 2px solid black;
	width: 364px;
	height: 20px;
	animation-name: photoshop;
	animation-duration: 1.5s;
}

.unreal_engine
{
	background-color: rgba(0, 0, 255, .5);
	border: 2px solid black;
	width: 353px;
	height: 20px;
	animation-name: unreal_engine;
	animation-duration: 1.5s;
}

.substance_painter
{
	background-color: rgba(0, 0, 255, .5);
	border: 2px solid black;
	width: 353px;
	height: 20px;
	animation-name: unreal_engine;
	animation-duration: 1.5s;
}

.html
{
	background-color: rgba(0, 0, 255, .5);
	border: 2px solid black;
	width: 326px;
	height: 20px;
	animation-name: html;
	animation-duration: 1.5s;
}

.css
{
	background-color: rgba(0, 0, 255, .5);
	border: 2px solid black;
	width: 326px;
	height: 20px;
	animation-name: html;
	animation-duration: 1.5s;
}

.java
{
	background-color: rgba(0, 0, 255, .5);
	border: 2px solid black;
	width: 271px;
	height: 20px;
	animation-name: java;
	animation-duration: 1.5s;
}

.sql
{
	background-color: rgba(0, 0, 255, .5);
	border: 2px solid black;
	width: 163px;
	height: 20px;
	animation-name: sql;
	animation-duration: 1.5s;
}

/*Codigo para el footer*/
footer{
	font-family: 'Rajdhani', sans-serif;
	font-size: 20px;
	color:white;
	position: relative;
 	right: 0;
 	bottom: 0;
 	left: 0;
 	padding: 1rem;
 	background-color: black;
 	text-align: center;
}

/*Video Adjustments Responsive*/
@media only screen and (max-width: 1603px)
{
	header
	{
		height: 700px;
	}
}

@media only screen and (max-width: 1220px)
{
	header
	{
		height: 400px;
	}
}

@media only screen and (max-width: 680px)
{
	header>video
	{
		transform: scale(1.8);
	}
}

@media only screen and (max-width: 540px)
{
	header>video
	{
		transform: scale(2);
	}
}

@media only screen and (max-width: 495px)
{
	header
	{
		height: 300px;
	}
}

@media only screen and (max-width: 370px)
{
	header
	{
		height: 250px;
	}
}


/*Responsive queries*/

@media only screen and (max-width: 840px)
{
	nav>a
	{
		padding: 0px 50px;
	}
}

@media only screen and (max-width: 430px)
{
	nav>a
	{
		padding: 0px 20px;
	}
}

@media only screen and (max-width: 570px)
{
	.about_me
	{
		margin: 0;
	}

	.about_me>p
	{
		width: 400px;
	}

	.data_container
	{
		transform: scale(.7);
	}
}

@media only screen and (max-width: 520px)
{
	.data_percentage
	{
		width: 300px;
	}

	.data_container
	{
		position: relative;
		left: -70px;
	}
}

@media only screen and (max-width: 440px)
{
	.about_me>p
	{
		width: 300px;
	}
}

@media only screen and (max-width: 420px)
{
	.data_container
	{
		transform: scale(.6);
	}
}
