body{
	margin:0;
}

a{
	text-decoration: none;
}

/*Codigo para cambiar el scrollbar*/


::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}


::-webkit-scrollbar-track {
    background: #f1f1f1;
    background-clip: content-box;
}


::-webkit-scrollbar-thumb {
    background: red;
    height: 50px;
}


::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*Codigo para el header*/
header{
	background:url(../Images/Header.webp);
	width: 100%;
	height: 1000px;
	overflow: hidden;
}

header>video
{
	width: 100%;
	height: 100%;
	transform: scale(1.5);
}

/*Codigo para el navbar*/
nav{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 40px;
	background-color: black;
	text-align: center;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1;
}

nav>a{

	display: inline-block;
	color:white;
	text-align: center;
	padding: 0px 150px;
	font-family: 'Rajdhani', sans-serif;
	font-size: 30px;
}

nav>a:hover{
	background-color: rgba(255,0,0,1);
	transition: 0.5s;
	cursor: pointer;
}

/*Section containing all my work done for personal/groupal
projects*/

.section_container{
	display:flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 5em;
	margin-top: 5em;
}

.section_container>article{
	font-family: 'Rajdhani', sans-serif;
}

.section_container>article>h2{
	text-align: center;
	font-size: 30px;
}

.section_container>article>h2>a{
	color:black;
}

.section_container>article>h2>a:hover{
	color:red;
	transition: 0.3s;
}

.section_container>article>div{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.section_container>article>figure>a>img{
	width: 600px;
	height: 400px;
	border: 5px solid black;
	transition: 0.5s;
}

.section_container>article>figure>a>img:hover{
	transform: scale(1.1);
	transition: 0.5s;
	border-color: red;
}


.section_container>article>figure>iframe
{
	border: 5px solid black;
	transition: .5s;
}

.section_container>article>figure>iframe:hover
{
	transform: scale(1.1);
	transition: .5s;
}

/*Codigo para el footer*/
footer{
	font-family: 'Rajdhani', sans-serif;
	font-size: 20px;
	color:white;
	position: fixed;
 	right: 0;
 	bottom: 0;
 	left: 0;
 	padding: 1rem;
 	margin-top: 50px;
 	background-color: black;
 	text-align: center;
}

/*Video Adjustments Responsive*/
@media only screen and (max-width: 1605px)
{
	header
	{
		height: 700px;
	}
}

@media only screen and (max-width: 1220px)
{
	header
	{
		height: 400px;
	}
}

@media only screen and (max-width: 680px)
{
	header>video
	{
		transform: scale(1.8);
	}
}

@media only screen and (max-width: 540px)
{
	header>video
	{
		transform: scale(2);
	}
}

@media only screen and (max-width: 495px)
{
	header
	{
		height: 300px;
	}
}

@media only screen and (max-width: 370px)
{
	header
	{
		height: 250px;
	}
}


/* Navbar */

@media only screen and (max-width: 840px)
{
	nav>a
	{
		padding: 0px 50px;
	}
}

@media only screen and (max-width: 430px)
{
	nav>a
	{
		padding: 0px 20px;
	}
}


/* Articles */
@media only screen and (max-width: 700px)
{
	.section_container>article>figure>a>img
	{
		width: 500px;
		height: 350px;
	}
}

@media only screen and (max-width: 600px)
{
	.section_container>article>figure>a>img
	{
		width: 400px;
		height: 300px;
	}

	.section_container>article>h2
	{
		font-size: 20px;
	}
}

@media only screen and (max-width: 600px)
{
	.section_container>article>figure>a>img
	{
		width: 300px;
		height: 200px;
	}
}

@media only screen and (max-width: 400px)
{
	.section_container>article>figure>a>img
	{
		width: 200px;
		height: 150px;
	}

	.section_container>article>h2
	{
		font-size: 10px;
	}
}
