body{
	margin:0;
	 background-color: rgba(0,0,0,0.95);
	 color:white;
}

a{
	text-decoration: none;
}

.cont{
	font-family: 'Rajdhani', sans-serif;
	font-size: 25px;
	text-align: center;
	margin-bottom: 5%;
}

.success{
	font-size: 40px;
	color: green;
}

.fail{
	font-size: 40px;
	color: red;
}

h3{
	font-family: 'Rajdhani', sans-serif;
	font-size: 40px;
	text-align: center;
}

input[type="submit"]{
	background-color: black;
    color: white;
    border: none;
    width: 100px;
    font: inherit;
    cursor: pointer;
}

input[type="submit"]:hover{
	background-color: red;
    color: black;
    border: none;
    width: 100px;
    font: inherit;
    cursor: pointer;
    transition: 0.5s;
}

input[type="submit"]:focus{
	background-color: red;
    color: black;
    border: none;
    width: 100px;
    font: inherit;
    cursor: pointer;
    transition: 0.5s;
}

/*Mediaqueries*/

/*Mediaquery para los dos formularios de login y de busqueda en Index.*/
@media only screen and (max-width: 770px) {
	
	.flex_container{
		flex-direction: column;
		text-align: center;
	}
}


/*Mediaquery para la seccion de fotos.*/

@media only screen and (max-width: 700px){

	.section_container>article{
		transform: scale(.6);
		transition: 0.5s;
	}
	.section_container>article>div{
		justify-content: space-evenly;
	}
}
