body{
	margin:0;
    background-color: rgba(0,0,0,0.95);
}

a{
	text-decoration: none;
}

#link_album{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
    color:white;
}

#link_album>a{
    text-decoration: none;
    color: white;
    align-self: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 25px;
}

#link_album>a:hover{
    color:red;
    transition:0.5s;
}

#link_album>p{
    font-family: 'Rajdhani', sans-serif;
    font-size: 25px;
    text-align: center;
    color:red; 
    font-weight: bold;  
}

/*Codigo para el formulario de registro*/

h3{
	font-family: 'Rajdhani', sans-serif;
	font-size:60px;
	text-align: center;
    color:white;
}

.container_registro{
	font-family: 'Rajdhani', sans-serif;
	font-size:30px;
	
	width: 100%;
	margin-bottom: 100px;
	text-align: center;
	display: inline-block;
    color:white;
}

::placeholder{
    color:white;
}

input[type="date"]{
    color:white;
}
.container_registro>div>label>input{
	border: none;
	outline: none;
	border-bottom: 5px solid white;
    background-color: rgba(0,0,0,0);
    color:white;
}

.container_registro>div>label>input:focus{
	border-bottom: 5px solid red;
}

.container_registro>input[type="submit"]{
	font-family: 'Rajdhani', sans-serif;
	font-size:30px;
	background-color: yellow;
    color: black;
    border: none;
    width: 100px;
    cursor: pointer;
    margin-left: 250px;
}

.container_registro>input[type="submit"]:hover{
	background-color: red;
    color: white;
    border: none;
    width: 100px;
    cursor: pointer;
    margin-left: 250px;
    transition: 0.5s;
}

.container_registro>input[type="submit"]:focus{
    background-color: red;
    color: white;
    border: none;
    width: 100px;
    cursor: pointer;
    margin-left: 250px;
    transition: 0.5s;
}

 input[type='radio']:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #d1d3d1;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 5px solid white;
    }

    input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: rgba(255,0,0,1);
        content: '';
        display: inline-block;
        visibility: visible;
        border: 5px solid white;
    }

/*Codigo para cambiar el input file.*/

.container_registro>input[type="file"]{
	font-family: 'Rajdhani', sans-serif;
	font-size:30px;
	background-color: yellow;
    color: black;
    display: none;
    border: none;
    outline: none;
    width: 100px;
    cursor: pointer;
    margin-left: 250px;
}


#file + label {
	width: 250px;
    font-size: 30px;
    color: black;
    background-color: yellow;
    display: inline-block;
}

#file:focus + label,
#file + label:hover {
	cursor:pointer;
    background-color: red;
    transition: 0.5s;
}


@media only screen and (max-width: 380px){

	.container_registro>input[type="submit"]{
		margin:0;
	}
}