body{
	margin:0;
	background-color: rgba(0,0,0,0.95);
	color:white;
}

a{
	text-decoration: none;
	color:black;
}

#link{
	display: inline-block;
  	width: 350px;
  	height: 70px;
  	transform: skew(20deg);
  	background: yellow;
	font-family: 'Rajdhani', sans-serif;
	font-size: 30px;
	font-weight: bold;
	margin-left: 1%;
	transition: 0.5s;
}

#link>a{
	display:block;
	text-align: center;
	height: 50px;
	padding-top: 5%;
	transform: skew(-20deg);
	transition: 0.5s;
}

#link:hover{
	background-color: red;
	transition: 0.5s;
}
#link>a:hover{
	color:white;
	transition: 0.5s;
}

h3{
	font-family: 'Rajdhani', sans-serif;
	font-size: 40px;
	text-align: center;
}

h2{
	font-family: 'Rajdhani', sans-serif;
	font-size: 60px;
	text-align: center;
}

/*Código para el PHP*/
.success{
	font-size: 40px;
	color:white;
}

.success b{
	color:red;
	cursor: pointer;
}

/*Codigo para los datos de perfil*/
.datos_perfil_container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.datos_perfil_container>ul{
	font-family: 'Rajdhani', sans-serif;
	font-size: 30px;
}

.flex-container {
	 display: flex;
	 justify-content: center;
	 align-items:center;
	 flex-flow: row wrap;
	 color:white;
	 text-align: center;
	 font-family: 'Rajdhani', sans-serif;
	 font-size: 35px;
	 width:300px;
	 margin-left: 50%;
	 margin-bottom: 200px;
}

.flex-container>a{
	flex:1 0 50%;
	width: 20px;
	margin: 1px;
	display: inline;
	color:black;
	background-color: yellow;
}

.flex-container>a:hover{
	background-color: red;
	color:white;
	transition: 0.5s;
	cursor: pointer;
}

.flex-container>a:focus{
	background-color: rgba(255,0,0,1);
	transition: 0.5s;
	cursor: pointer;
}


.datos_perfil_container>figure{
	text-align: center;
}

img{
	border: 5px solid white;
}

.album_flex>article>figure:hover img{
	transform: scale(1.1);
	transition: 0.5s;
	border: 5px solid red;
	cursor:pointer;
}

p{
	font-family: 'Rajdhani', sans-serif;
	font-size: 20px;
	text-align: center;
}
/*Codigo para los albumes*/

.album_flex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 200px;
}

.album_flex>article{
	width: 550px;
}

.album_flex>article>h3>a{
	color:white;
}

.album_flex>article>h3{
	font-size: 40px;
}

.album_flex>article>h3>a:hover{
	color: red;
	transition: 0.5s;
}

/*Mediaqueries*/

@media only screen and (max-width:620px){
	
	.flex-container{
		width: 100%;
		margin-left: 0;
		color:yellow;
	}

}