body{
	margin:0;
	height: 100%;
	background-color: rgba(0,0,0,0.95);
}

a{
	text-decoration: none;
}


/*Codigo para el contenedor de busqueda avanzada*/
.container_busqueda_avanzada{
	font-family: 'Rajdhani', sans-serif;
	font-size: 20px;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	flex-wrap: wrap;
	text-align: center;
	margin-left: 0;
	color: white;
	font-size: 30px;
}

.container_busqueda_avanzada>div{
	flex:0 10%;
}

.container_busqueda_avanzada>div>label>input{
	border:none;
	outline:none;
	border-bottom: 5px solid white;
	background-color: rgba(0,0,0,0);
    color:white;
}

input[type=date]{
    color: white;
}
.container_busqueda_avanzada>div>label>input::placeholder { /* Chrome/Opera/Safari */
  color: white;
}

.container_busqueda_avanzada>div>label>input:focus{
	border-bottom: 5px solid red;
}


h3{
	font-family: 'Rajdhani', sans-serif;
	font-size: 60px;
	text-align: center;
	color: white;
}

.button{
	text-align: center;
}

.button>input[type="submit"]{
    background-color: yellow;
    color: black;
    border: none;
    width: 100px;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 30px;
    cursor: pointer;
}

.button>input[type="submit"]:hover{
	background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.button>input[type="submit"]:focus{
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

#pais{
    -webkit-appearance: none;
    width: 180px;
    height: 30px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 15px;
    border: none;
    background-color: rgba(0,0,0,0);
    color:white;
    border-bottom: 5px solid white;
    text-align: right;
    cursor: pointer;
    outline: none;
}

#pais>option{
    height: 100px;
    color:black;
}