
.icon-home:before { content: '\e800'; } /* '' */
.icon-search-circled:before { content: '\e801'; } /* '' */
.icon-doc-text-inv:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */